.toolbar-icon {
    -icon-paint: #222222;
    -fx-content-display: graphic-only;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-background-size: 36px 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toolbar-icon:hover {
    -fx-background-color: #e0e0e0;
}

.toolbar-icon:pressed {
    -fx-background-color: #d0d0d0;
}

.toolbar-icon:selected {
    -fx-background-color: lightgray;
}

.cursor-icon {
    -fx-background-image: url('icons/Toolbar_Cursor.png');
}

.hand-icon {
    -fx-background-image: url('icons/Toolbar_Hand.png');
}

.edge-icon {
    -fx-background-image: url('icons/Toolbar_Edge.png');
}

.zoom-icon {
    -fx-background-image: url('icons/Toolbar_Zoom.png');
}

.marquee-icon {
    -fx-background-image: url('icons/Toolbar_Marquee.png');
}

.variable-block-creator-icon {
    -fx-background-image: url('icons/Toolbar_Variable.png');
}

.state-creator-icon {
    -fx-background-image: url('icons/Toolbar_State.png');
}

.system-creator-icon {
    -fx-background-image: url('icons/Toolbar_System_Component.png');
}

.pan-icon {
    -fx-background-image: url('icons/Toolbar_Hand.png');
}

.region-creator-icon {
    -fx-background-image: url('icons/Toolbar_Region.png');
}

.inspector-label {
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-font: 14px "sans-serif";
    -fx-text-alignment: center;
}

.inspector-button {
    -icon-paint: #222222;
    -fx-border-color: #222222;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #e0e0e0;
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.inspector-button:hover {
    -fx-background-color: #e0e0e0;
}

.inspector-button:pressed {
    -fx-background-color: #d0d0d0;
}

.inspector-button:selected {
    -fx-background-color: lightgray;
}

.inspector-selection-forward-button {
    -fx-background-image: url('icons/Selection_Next.png');
}

.inspector-selection-backward-button {
    -fx-background-image: url('icons/Selection_Previous.png');
}

.inspector-collapse-button {
    -fx-background-image: url('icons/Inspector_Collapse.png');
}

.inspector-uncollapse-button {
    -fx-background-image: url('icons/Inspector_Uncollapse.png');
}

.inspector-remove-button {
    -fx-background-image: url('icons/Inspector_Remove.png');
}

.inspector-contract-expand-button {
    -fx-background-image: url('icons/Inspector_Contract_Expand.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.inspector-contract-expanded-button {
    -fx-background-image: url('icons/Inspector_Contract_Expanded.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
