@import url('gecko-base.css');

* {
    -fx-bg: #1c1c1c;
    -fx-fg0: #4a4a4a;
    -fx-fg1: #6d6d6d;
    -fx-fg2: #878787;
    -fx-text: #e6e6e6;
    -fx-highlight: #8b0000;
    -fx-highlight: #6b0000;
    -fx-highlight2: #41c2d3;
    -fx-highlight2-hover: #4179d3;
    -fx-highlight3: #96e876;
    -fx-highlight3-hover: #76e88e;
    -fx-green: #3a5311;
}

.root {
    -fx-base: -fx-fg0;
    -fx-focus-color: transparent;
}

.undo-toolbar-icon {
    -fx-background-image: url('dark-icons/Redo.png');
}

.redo-toolbar-icon {
    -fx-background-image: url('dark-icons/Undo.png');
}

.cursor-icon {
    -fx-background-image: url('dark-icons/Toolbar_Cursor.png');
}

.hand-icon {
    -fx-background-image: url('dark-icons/Toolbar_Hand.png');
}

.edge-icon {
    -fx-background-image: url('dark-icons/Toolbar_Edge.png');
}

.zoom-icon {
    -fx-background-image: url('dark-icons/Toolbar_Zoom.png');
}

.marquee-icon {
    -fx-background-image: url('dark-icons/Toolbar_Marquee.png');
}

.variable-block-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_Variable.png');
}

.state-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_State.png');
}

.system-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_System_Component.png');
}

.pan-icon {
    -fx-background-image: url('dark-icons/Toolbar_Hand.png');
}

.region-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_Region.png');
}

.inspector-selection-forward-button {
    -fx-background-image: url('dark-icons/Selection_Next.png');
}

.inspector-selection-backward-button {
    -fx-background-image: url('dark-icons/Selection_Previous.png');
}

.inspector-collapse-button {
    -fx-background-image: url('dark-icons/Inspector_Collapse.png');
}

.inspector-remove-button {
    -fx-background-image: url('dark-icons/Inspector_Remove.png');
}

.inspector-contract-expand-button {
    -fx-background-image: url('dark-icons/Inspector_Contract_Expand.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.inspector-contract-expanded-button {
    -fx-background-image: url('dark-icons/Inspector_Contract_Expanded.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.inspector-focus-element-button {
    -fx-background-image: url('dark-icons/Locate.png');
}

.floating-uncollapse-inspector-button {
    -fx-background-image: url('dark-icons/Inspector_Uncollapse.png');
}

.floating-zoom-in-button {
    -fx-background-image: url('dark-icons/Zoom_Plus.png');
}

.floating-zoom-out-button {
    -fx-background-image: url('dark-icons/Zoom_Minus.png');
}

.floating-parent-system-switch-button {
    -fx-background-image: url('dark-icons/Back_To_System.png');
}

.floating-switch-to-system-button {
    -fx-background-image: url('dark-icons/Toolbar_System_Component.png');
}

.floating-switch-to-automaton-button {
    -fx-background-image: url('dark-icons/Toolbar_State.png');
}

