* {
    -fx-bg: #1c1c1c;
    -fx-fg0: #4a4a4a;
    -fx-fg1: #6d6d6d;
    -fx-fg2: #878787;
    -fx-text: #e6e6e6;
    -fx-highlight: #8b0000;
    -fx-green: #3a5311;
}

.root {
    -fx-base: -fx-fg0;
    -fx-focus-color: transparent;
}

.toolbar-icon {
    -icon-paint: -fx-text;
    -fx-content-display: graphic-only;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-background-size: 36px 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toolbar-icon:hover {
    -fx-background-color: -fx-fg0;
}

.toolbar-icon:pressed {
    -fx-background-color: -fx-fg1;
}

.toolbar-icon:selected {
    -fx-background-color: -fx-fg2;
}

.undo-toolbar-icon {
    -fx-background-image: url('dark-icons/Redo.png');
}

.redo-toolbar-icon {
    -fx-background-image: url('dark-icons/Undo.png');
}

.cursor-icon {
    -fx-background-image: url('dark-icons/Toolbar_Cursor.png');
}

.hand-icon {
    -fx-background-image: url('dark-icons/Toolbar_Hand.png');
}

.edge-icon {
    -fx-background-image: url('dark-icons/Toolbar_Edge.png');
}

.zoom-icon {
    -fx-background-image: url('dark-icons/Toolbar_Zoom.png');
}

.marquee-icon {
    -fx-background-image: url('dark-icons/Toolbar_Marquee.png');
}

.variable-block-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_Variable.png');
}

.state-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_State.png');
}

.system-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_System_Component.png');
}

.pan-icon {
    -fx-background-image: url('dark-icons/Toolbar_Hand.png');
}

.region-creator-icon {
    -fx-background-image: url('dark-icons/Toolbar_Region.png');
}

.path {
    -fx-stroke: -fx-text;
}

.inspector-label {
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-font: 14px "sans-serif";
    -fx-text-alignment: center;
}

.inspector-button {
    -icon-paint: -fx-text;
    -fx-border-color: -fx-text;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-fg0;
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.inspector-button:hover {
    -fx-background-color: -fx-fg0;
}

.inspector-button:pressed {
    -fx-background-color: -fx-fg1;
}

.inspector-button:selected {
    -fx-background-color: -fx-fg2;
}

.inspector-selection-forward-button {
    -fx-background-image: url('dark-icons/Selection_Next.png');
}

.inspector-selection-backward-button {
    -fx-background-image: url('dark-icons/Selection_Previous.png');
}

.inspector-collapse-button {
    -fx-background-image: url('dark-icons/Inspector_Collapse.png');
}

.inspector-remove-button {
    -fx-background-image: url('dark-icons/Inspector_Remove.png');
}

.inspector-contract-expand-button {
    -fx-background-image: url('dark-icons/Inspector_Contract_Expand.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.inspector-contract-expanded-button {
    -fx-background-image: url('dark-icons/Inspector_Contract_Expanded.png');
    -fx-background-size: 12px 12px;
    -icon-paint: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.inspector-focus-element-button {
    -fx-background-image: url('dark-icons/Locate.png');
}

.floating-ui-button {
    -icon-paint: -fx-text;
    -fx-border-color: -fx-text;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: -fx-fg0;
    -fx-background-size: 30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.floating-ui-button:hover {
    -fx-background-color: -fx-fg0;
}

.floating-ui-button:pressed {
    -fx-background-color: -fx-fg1;
}

.floating-ui-button:selected {
    -fx-background-color: -fx-fg2;
}

.floating-uncollapse-inspector-button {
    -fx-background-image: url('dark-icons/Inspector_Uncollapse.png');
}

.floating-zoom-in-button {
    -fx-background-image: url('dark-icons/Zoom_Plus.png');
}

.floating-zoom-out-button {
    -fx-background-image: url('dark-icons/Zoom_Minus.png');
}

.floating-parent-system-switch-button {
    -fx-background-image: url('dark-icons/Back_To_System.png');
}

.floating-switch-to-system-button {
    -fx-background-image: url('dark-icons/Toolbar_System_Component.png');
}

.floating-switch-to-automaton-button {
    -fx-background-image: url('dark-icons/Toolbar_State.png');
}

.scroll-bar {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-font: 12px "System";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-fg2;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-fg1;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.text-field {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.text-area {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.tab-pane {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.list-view {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.list-cell {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.tab {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.tool-bar {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.separator {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.scroll-pane {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.color-picker {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font: 12px "System";
}

.state-view-element {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.state-inner-view-element {
    -fx-background-color: -fx-fg1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.state-inner-inner-view-element {
    -fx-background-color: -fx-fg2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.inspector {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 0;
    -fx-border-color: -fx-bg;
    -fx-border-width: 0;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.toggle-button {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.combo-box .arrow, .combo-box .arrow-button {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 2;
    -fx-border-radius: 0;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: -fx-fg0;
    -fx-background-radius: 2;
    -fx-border-radius: 0;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.inspector-delete-button {
    -fx-background-color: -fx-highlight;
}

.state-view-element-start {
    -fx-background-color: -fx-green;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}

.state-view-element-non-start {
    -fx-background-color: -fx-fg1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: -fx-text;
    -fx-text-fill: -fx-text;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-font: 12px "System";
}
